@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {  
    --color-primary-blue: #4A90E2;  
    --color-dark-gray: #333333;  
    --color-light-gray: #F5F5F5;
    --color-accent-orange: #F5A623;
    --color-accent-purple: #9B59B6
}


html {
    height: 100vh;
}

body {
    height: 100%;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    margin-bottom: 56px;
    overflow-y: auto;
    padding: 5px;
}

a {
    text-decoration: underline;
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    background-color: white;
    border-radius: 5px;
    border-color: var(--color-gray-600);
}

.form-group:has(input:required) label::after {
    content: '*';
}
